$primary: #6610f2; 
$font-family-sans-serif: 'Segoe UI', system-ui, sans-serif;

@import 'bootstrap/scss/bootstrap';

body {
    background-color: #f8f9fa; 
}

.card{
    transition: transform 0.2s ease-in-out;
    &:hover {
        transform:translateY(-5px);
    }
}